@font-face {
  font-family: Digital;
  src: url("./fonts/digital-7.ttf");
}

body {
  background-color: #1e555c;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.clock-wrapper {
  width: 500px;
  height: 400px;
}

.settings {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

h1 {
  color: white;
  text-align: center;
  font-size: 3em;
  margin-bottom: 0.33em;
  margin-top: 0;
  font-family: "Righteous", sans-serif
}

p {
  color: white;
  text-align: center;
  font-size: 2em;
  margin: 0;
  font-family: "Righteous", sans-serif
}

.clock {
  height: 40%;
  width: 50%;
  margin: auto;
  border: 10px solid #13353a;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10px;
}

#time-left{
  font-family: "Digital";
  font-size: 4em;
}

.clock-control {
  color: white;
  font-size: 2em;
  text-align: center;
}

#start_stop {
  margin-right: 20px;
}

i {
  cursor: pointer;
}

.length-label {
  margin-left: 20px;
  margin-right: 20px;
}

